{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Todo App</title>

    <link href="{% static '/todo/main.css' %}" rel="stylesheet"
          type="text/css"/>
</head>
<body>

<div class="container">
    <section class="panel">
        <input id="newTask"
               placeholder="O que você precisa fazer?" class="text-input">
    </section>

    <section class="list">
        <ul class="list-item"></ul>
    </section>
</div>

<div class="credit">
    <p>Use o campo no tipo para adicionar itens (precione Enter)</p>
    <p>Duplo click para editar (precione Enter ou saia do campo para
        salvar)</p>
    <p>Vá com o mouse no canto direito e click no "X" para deletar</p>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="{% static '/todo/main.js' %}"></script>
<script>
    $(document).ready(function () {
        new TaskList();
    });
</script>
</body>
</html>
