/* Relevant resets */

ul, li {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Global Styles */

body {
    line-height: 1;
    font-family: "Lato", sans-serif;
    background-color: #EFF1F2;
}

.container {
    width: 70%;
    margin: 1em auto 3em;
    border: 1px solid #efefef;
}

.panel, li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 10px;
    border-bottom: 1px solid #efefef;
    background-color: #E7E8EB;
}

.text-input {
    border: 1px solid #dedede;
    padding-left: 10px;
    width: 100%;
    height: 35px;
    color: #555;
}

button {
    color: #555;
    background-color: #FFFFFF;
    border: 1px solid #bbb;
    outline: 0;
    width: 100px;
    height: 38px;
    cursor: pointer;
    font-size: 14px;
}

/* Task  area */

.list li {
    background-color: #3465A4;
}

.list li button {
    background-color: transparent;
    border: 1px solid #3465A4;
    color: #ddd;
    visibility: hidden;
    font-size: 20px;
    font-weight: bold;
}

.list li:hover > button {
    visibility: visible;
}

.list label {
    padding-right: 10px;
    display: inline-block;
    width: 70%;
    font-size: 18px;
    line-height: 24px;
    color: #fcfcfc;
    z-index: 2;
    overflow: hidden;
}

.list li.done label {
    color: #d9d9d9;
    text-decoration: line-through;
}

/* Instructions and Credit */

.credit {
    margin: 1em auto 5em;
    text-align: center;
    font-size: 13px;
    line-height: 0.6;
    color: #999;
}

.credit a {
    text-decoration: none;
    color: #999;
}

.credit a:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

/* Media Queries */

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        max-width: 90%;
    }

    .text-input, .list label {
        width: 60%;
        font-size: 14px;
    }

    button {
        width: 50px;
        height: 50px;
    }
}